.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color:rgb(248 248 248 / 57%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    color: #4338ca;
    border-radius: 5px;  
    height: 250px;
    margin: 15px ;
    padding: 10px 20px;
    cursor: pointer;
}

.comment-section{
    margin: 10px  30px;
}
.tittle{
    font-weight: bold ;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tittle__content{
    max-width: 250px;
    height: 40px;
    overflow-x:hidden ;
    overflow-y:hidden ;
    text-overflow: ellipsis;
    margin-left: 0 10px;
}