.newComment{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248 248 248 / 57%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 340px;
    height: 250px;
    margin: auto;
    padding: 20px  30px ; 
    color: rgb(108 68 170);
    border-radius: 5px; 
}
.newComment h2{
  color: rgb(108 68 170);
  margin-bottom: 30px;
}


.btn{
  cursor: pointer;
    outline: none;
    padding: 5px 10px ;
    background-color: #f1e3f1;
    color:#df638b ;
    border-radius: 5px;
    border: 1px solid #df638b;
    margin-top: 10px;
  }
  .primary{
    color: #fff;
    background-color: #936bd2;
    border: none;
    padding: 8px 10px ;
  }
  .newComment_section{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
  }
  .newComment_section input{
    width: 200px;
    height: 25px;
    border: 1px solid #d1c0eb;
    outline: none;
    border-radius: 5px;
    padding: 0 8px;
  }
    .newComment_section input:focus{
      border: 2px solid #936bd2;
  }
  
  @media screen and (min-width:460px) {
    .newComment{
      width: 400px;
      height: 280px;
    }
  }
  @media screen and (min-width:640px) {
    .newComment{
      width: 600px;
      height: 280px;
    }
  }