.comment-list{
    width: 90vw;
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(auto-fit , minmax(200px , 1fr));
    grid-template-columns: repeat(auto-fit , minmax(300px ,1fr));

    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: start ; */
    /* flex-wrap: wrap; */
    margin-top: 20px;
}